---
import { Image } from 'astro:assets'
import type {
  MainBannerCollectionDTO,
  ParentCollectionDTO,
  ChildrenCollectionDTO,
} from '@/Isekai/Collection/Application/get-collection-view/DTO/GetCollectionViewDTO'

interface Props {
  name: string
  mainBanner: MainBannerCollectionDTO
  children: ChildrenCollectionDTO[]
  parent: ParentCollectionDTO | null
}

const { name, mainBanner, children, parent } = Astro.props
---

<div
  class="collection-background-image absolute h-[30.75rem] -z-10 w-full inset-0 overflow-hidden object-cover"
  style={`background: linear-gradient(
                        0deg,
                        rgb(248, 249, 250, 0.99) 5%,
                        rgba(248, 248, 248, 0.75) 50%,
                        rgba(248, 249, 250, 0.95) 90%
                      ),
                      url(${mainBanner.backgroundImage})`}
>
</div>
<div
  class="h-[24.75rem] border-gray-200 flex items-center max-w-7xl mx-auto overflow-hidden"
>
  <!-- Info -->
  <div class="w-1/2">
    <div class="max-w-2xl ml-auto flex-shrink text-left text-black p-8">
      {
        parent && (
          <a
            class="mb-2 block text-red-600 font-extrabold hover:text-red-500"
            href={`/tienda-${parent.slug}`}
            title={parent.name}
          >
            {parent.name}
          </a>
        )
      }
      <h1 class="font-extrabold text-6xl mb-4">
        {mainBanner.title}
      </h1>
      <p class="mb-4 leading-5">{mainBanner.description}</p>
      <div>
        {
          children.map((children) => (
            <a
              href={`/tienda-${children.slug}`}
              class="inline-block rounded-lg text-sm overflow-hidden mr-2 mb-2"
              title={children.name}
            >
              <Image
                src={children.mainImage}
                width={200}
                height={200}
                format="webp"
                class="w-28 h-40 object-cover"
                alt={`img of ${children.name}`}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <Image
    width={400}
    height={384}
    class="h-[30rem] w-[40rem] ml-8"
    alt={`img of ${mainBanner.title}`}
    src={mainBanner.mainImage}
  />
</div>

<style scoped>
  .collection-background-image {
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);

    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
</style>
