---
import { ContainerDI } from '@/Isekai/Shared/Container/ContainerDI'
import types from '@/Isekai/Shared/Container/types'
import BaseLayout from '@/layouts/BaseLayout'
import type { MessageBus } from 'message-bus'
import {GetCollectionViewCommand} from '@/Isekai/Collection/Application/get-collection-view/GetCollectionViewCommand'
import {CollectionViewDTO} from '@/Isekai/Collection/Application/get-collection-view/DTO/GetCollectionViewDTO'
import { CollectionNotFound } from '@/Isekai/Collection/Domain/errors/CollectionNotFound'

export const prerender = false // server
const {slug} = Astro.params
let collectionView!: CollectionViewDTO

if(!slug) {
  return new Response(null, {
    status: 404,
    statusText: 'Collection not found'
  });
}

try {
  const container = ContainerDI.getInstance()
  const command = new GetCollectionViewCommand(slug)
  const commandBus = container.get<MessageBus>(types.CommandBus)
  collectionView = await commandBus.commit(command)
}
catch(error) {
  if(error instanceof CollectionNotFound)
	return new Response(null, {
		status: 404,
		statusText: 'No encontrado'
	});

  return new Response(null, {status: 500, statusText: "Hubo un error en el servidor."})
}
---
<BaseLayout
	title={collectionView.metaTitle}
	description={collectionView.metaDescription}
>
  <div class="h-[35rem] border-b border-gray-200 flex items-center absolute inset-0  overflow-hidden">
    <img class="absolute -z-10 w-full inset-0 opacity-5 object-cover" src={collectionView.mainBanner.backgroundImage} />
    <div class="relative w-full flex h-full">
      <div class="flex-grow self-center">
        <div class="max-w-2xl ml-auto p-8 py-16 rounded-lg ">
          <h1 class="font-extrabold text-6xl mb-4">{collectionView.mainBanner.title}</h1>
          <p>{collectionView.mainBanner.description}</p>
        </div>
      </div>
      <div class="w-6/12 self-end -mb-12">
        <img class="h-[35rem] mx-auto" src={collectionView.mainBanner.mainImage} />
      </div>
    </div>
  </div>
  <div class="h-[48rem]"></div>
</BaseLayout>